## Estado atual do trabalho
### No momento desta enterga parcial foi feita uma análise geral nos dados a fim de os conhecer bem, conhecer as variáveis serem exploradas e avaliar algumas características estatísticas das colunas dos dados. Também como a união com um outro dataset para poder melhorar as análises feitas.

## Ainda a ser feito
### Os próximos passos serão representar boa parte da análise graficamente a fim de facilitar a visualização de pontos interessantes de forma visual, bem como explorar a distribuição de algumas variáveis e, por fim, explicar toda a análise e a conclusão do trabalho.

In [10]:
import numpy as np 
import pandas as pd 
from unidecode import unidecode

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/LucasFMarques/Trabalho_Computacao_20.2/main/data/listings_RJ.csv')

In [12]:
df.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5426,5271408,POINT LEBLON,27286802,Roberto,NaN,Leblon,-22.98650,-43.22861,Entire home/apt,990,1,0,NaN,NaN,1,0
187,293166,THE BEST PLACE FOR THE CARNIVAL IN RIO,1464031,Erika,NaN,Santa Teresa,-22.91495,-43.18232,Entire home/apt,284,3,1,2017-01-13,0.02,4,364
19053,20330820,lindissimo apt. perto da praia e de tudo.,20804717,Junia Marcia,NaN,Copacabana,-22.96825,-43.18210,Entire home/apt,147,2,2,2019-10-07,0.06,2,178
2861,2759554,Living room and 1 bedroom Botafogo,14115174,Isabella,NaN,Botafogo,-22.95058,-43.19015,Entire home/apt,347,5,5,2019-03-08,0.08,1,0
24046,30874311,GUARATIBALI RESIDENCE: HOUSE WITH 6 ROOMS,69922816,Arnaud,NaN,Barra de Guaratiba,-23.05715,-43.55992,Private room,987,1,0,NaN,NaN,9,365

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35255 entries, 0 to 35254
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35255 non-null  int64
 1   name                            35197 non-null  object
 2   host_id                         35255 non-null  int64
 3   host_name                       35249 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   35255 non-null  object
 6   latitude                        35255 non-null  float64
 7   longitude                       35255 non-null  float64
 8   room_type                       35255 non-null  object
 9   price                           35255 non-null  int64
 10  minimum_nights                  35255 non-null  int64
 11  number_of_reviews               35255 non-null  int64
 12  last_review                     20415 non-null  object
 13  reviews_per_month               20415 non-null  float64
 14  calculated_host_listings_count  35255 non-null  int64
 15  availability_365                35255 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 4.3+ MB
None

In [14]:
print(df.neighbourhood.value_counts()[:10])

Copacabana                  9149
Barra da Tijuca             3929
Ipanema                     2949
Jacarepaguá                 2028
Botafogo                    1755
Recreio dos Bandeirantes    1654
Leblon                      1599
Santa Teresa                1151
Centro                       987
Flamengo                     897
Name: neighbourhood, dtype: int64

In [15]:
df.iloc[:,3:].describe()

,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,0.0,35255.000000,35255.000000,35255.000000,35255.000000,35255.000000,20415.000000,35255.000000,35255.000000
mean,NaN,-22.965150,-43.252554,716.374443,4.958587,9.576854,0.513216,5.109828,172.849014
std,NaN,0.034914,0.097055,2268.685039,22.308987,25.598324,0.707440,17.071796,154.342749
min,NaN,-23.073400,-43.737090,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,NaN,-22.984560,-43.319890,153.000000,1.000000,0.000000,0.100000,1.000000,0.000000
50%,NaN,-22.970650,-43.199140,298.000000,2.000000,1.000000,0.210000,1.000000,162.000000
75%,NaN,-22.946930,-43.186650,617.000000,4.000000,6.000000,0.620000,3.000000,362.000000
max,NaN,-22.750380,-43.104620,131612.000000,1123.000000,407.000000,8.880000,200.000000,365.000000

In [16]:
limites_bairros = pd.read_csv('https://raw.githubusercontent.com/LucasFMarques/Trabalho_Computacao_20/main/data/Limite_de_Bairros_RJ.csv')
print(limites_bairros.columns)

Index(['OBJECTID', 'Área', 'NOME', 'REGIAO_ADM', 'AREA_PLANE', 'CODBAIRRO',
       'CODRA', 'CODBNUM', 'LINK', 'RP', 'Cod_RP', 'CODBAIRRO_LONG',
       'SHAPESTArea', 'SHAPESTLength'],
      dtype='object')

In [17]:
limites_bairros.head()

,OBJECTID,Área,NOME,REGIAO_ADM,AREA_PLANE,CODBAIRRO,CODRA,CODBNUM,LINK,RP,Cod_RP,CODBAIRRO_LONG,SHAPESTArea,SHAPESTLength
0,325,1.705685e+06,Paquetá,PAQUETA,1,13,21,13,Paqueta&area=013 ...,Centro,1.1,13,1.705685e+06,24841.426669
1,326,4.056403e+06,Freguesia (Ilha),ILHA DO GOVERNADOR,3,98,20,98,Freguesia (Ilha) &area=98 ...,Ilha do Governador,3.7,98,4.056403e+06,18303.595717
2,327,9.780465e+05,Bancários,ILHA DO GOVERNADOR,3,97,20,97,Bancários &area=97 ...,Ilha do Governador,3.7,97,9.780465e+05,7758.781282
3,328,1.895742e+07,Galeão,ILHA DO GOVERNADOR,3,104,20,104,Galeão &area=104 ...,Ilha do Governador,3.7,104,1.895742e+07,21510.059220
4,329,1.672546e+06,Tauá,ILHA DO GOVERNADOR,3,101,20,101,Tauá &area=101 ...,Ilha do Governador,3.7,101,1.672546e+06,8246.109606

In [18]:
drop_cols = ['OBJECTID', 'Área', 'REGIAO_ADM', 'AREA_PLANE', 'CODBAIRRO',
       'CODRA', 'CODBNUM', 'LINK', 'Cod_RP', 'CODBAIRRO_LONG',
       'SHAPESTArea', 'SHAPESTLength']

limites_bairros.drop(columns=drop_cols, inplace=True)

In [19]:
df["bairro_decode"] = df.neighbourhood.apply(lambda x: unidecode(str(x).lower().strip()))
limites_bairros['bairro'] = limites_bairros.NOME.apply(lambda x: unidecode(str(x).lower().strip()))

In [20]:
print(df.bairro_decode.head())
print()
print(limites_bairros.bairro.head())

0    copacabana
1       ipanema
2    copacabana
3       ipanema
4       ipanema
Name: bairro_decode, dtype: object

0             paqueta
1    freguesia (ilha)
2           bancarios
3              galeao
4                taua
Name: bairro, dtype: object

In [21]:
df_complete = df.merge(limites_bairros, how='left',left_on='bairro_decode',right_on="bairro")
print(df_complete.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'bairro_decode', 'NOME', 'RP', 'bairro'],
      dtype='object')

In [22]:
print(df_complete.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35255 entries, 0 to 35254
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35255 non-null  int64
 1   name                            35197 non-null  object
 2   host_id                         35255 non-null  int64
 3   host_name                       35249 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   35255 non-null  object
 6   latitude                        35255 non-null  float64
 7   longitude                       35255 non-null  float64
 8   room_type                       35255 non-null  object
 9   price                           35255 non-null  int64
 10  minimum_nights                  35255 non-null  int64
 11  number_of_reviews               35255 non-null  int64
 12  last_review                     20415 non-null  object
 13  reviews_per_month               20415 non-null  float64
 14  calculated_host_listings_count  35255 non-null  int64
 15  availability_365                35255 non-null  int64
 16  bairro_decode                   35255 non-null  object
 17  NOME                            35255 non-null  object
 18  RP                              35255 non-null  object
 19  bairro                          35255 non-null  object
dtypes: float64(4), int64(7), object(9)
memory usage: 5.6+ MB
None

In [23]:
df_complete['neighbourhood_group'] = df_complete.RP
df_complete.drop(columns=['bairro', "NOME", 'RP', 'bairro_decode'], inplace=True)

In [24]:
price_min = df_complete.price.min()
price_max = df_complete.price.max()
df_complete[(df_complete.price == price_min) | (df_complete.price == price_max)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19031,20269038,"APT ESPIGÃO ,MENSAL OU ESTADIAS PROLONGADA13°a...",100693784,Aida,Jacarepaguá,Jacarepaguá,-22.97320,-43.41019,Entire home/apt,0,3,4,2019-05-12,0.19,4,362
19499,21144730,Rio Copacabana terraced BB-Red Room,107465765,Paul,Zona Sul,Copacabana,-22.96854,-43.18862,Hotel room,0,3,1,2018-09-11,0.04,4,364
19515,21174310,Rio Copacabana Terraced BB- green room,107465765,Paul,Zona Sul,Copacabana,-22.96869,-43.18838,Private room,0,3,0,NaN,NaN,4,364
19516,21174613,Rio Copacabana Terraced BB- white room,107465765,Paul,Zona Sul,Copacabana,-22.96981,-43.18815,Hotel room,0,3,0,NaN,NaN,4,1
19519,21180262,Rio Copacabana terraced BB Green Room,3477417,Paolo,Zona Sul,Copacabana,-22.96951,-43.18890,Private room,0,2,1,2019-10-17,0.11,4,364
19520,21180521,BB Rio Copacabana- Red Room,3477417,Paolo,Zona Sul,Copacabana,-22.96951,-43.18890,Private room,0,3,3,2020-02-25,0.14,4,364
19540,21202521,Rio Copacabana terraced BB White Room,3477417,Paolo,Zona Sul,Copacabana,-22.96951,-43.18890,Private room,0,3,0,NaN,NaN,4,364
29089,39212507,B&B Linda House - Double bedroom between Copac...,247378002,Loris,Zona Sul,Copacabana,-22.98217,-43.19344,Private room,131612,1,0,NaN,NaN,7,110
29415,39630154,Rio011 - 6 bedroom villa in Alto da Boa Vista,22805631,Latin Exclusive,Tijuca,Alto da Boa Vista,-22.96575,-43.29258,Entire home/apt,131612,1,0,NaN,NaN,46,0

In [25]:
print(df_complete.neighbourhood_group.unique())

['Zona Sul' 'Barra da Tijuca' 'Centro' 'Campo Grande' 'Tijuca' 'Méier'
 'Jacarepaguá' 'Madureira' 'Bangu' 'Ramos' 'Penha' 'Guaratiba' 'Inhaúma'
 'Ilha do Governador' 'Santa Cruz' 'Pavuna']

In [26]:
zonas_dict = {"Tijuca":"Zona Norte",
             "Inhaúma":"Zona Norte",
             "Méier":"Zona Norte",
             "Ramos":"Zona Norte",
             "Penha":"Zona Norte",
             "Ilha do Governador":"Zona Norte",
             "Madureira":"Zona Norte",
             "Pavuna":"Zona Norte",
             "Bangu":"Zona Oeste",
             "Campo Grande":"Zona Oeste",
             "Bangu":"Zona Oeste",
             "Jacarepaguá":"Zona Oeste",
             "Santa Cruz":"Zona Oeste",
             "Barra da Tijuca":"Zona Oeste",
             "Guaratiba":"Zona Oeste"}
df_complete = df_complete.replace({'neighbourhood_group': zonas_dict})

print('Classificação de áreas após os últimos comandos: ', ", ".join(df_complete.neighbourhood_group.unique()), '.', sep='')

Classificação de áreas após os últimos comandos: Zona Sul, Zona Oeste, Centro, Zona Norte.

In [39]:
for col in ['neighbourhood', 'neighbourhood_group', 'room_type', 'price']:
    print(col.upper(), '\n')
    print(df_complete[col].value_counts()[:6],'\n\n',df_complete[col].describe(), sep='')
    print('\n\n',"##"*12, '\n', sep='')

NEIGHBOURHOOD

Copacabana                  9149
Barra da Tijuca             3929
Ipanema                     2949
Jacarepaguá                 2028
Botafogo                    1755
Recreio dos Bandeirantes    1654
Name: neighbourhood, dtype: int64

count          35255
unique           156
top       Copacabana
freq            9149
Name: neighbourhood, dtype: object


########################

NEIGHBOURHOOD_GROUP

Zona Sul      20396
Zona Oeste     9644
Centro         2632
Zona Norte     2583
Name: neighbourhood_group, dtype: int64

count        35255
unique           4
top       Zona Sul
freq         20396
Name: neighbourhood_group, dtype: object


########################

ROOM_TYPE

Entire home/apt    25172
Private room        9131
Shared room          780
Hotel room           172
Name: room_type, dtype: int64

count               35255
unique                  4
top       Entire home/apt
freq                25172
Name: room_type, dtype: object


########################

PRICE

200    882
247    795
147    794
300    733
201    733
149    689
Name: price, dtype: int64

count     35255.000000
mean        716.374443
std        2268.685039
min           0.000000
25%         153.000000
50%         298.000000
75%         617.000000
max      131612.000000
Name: price, dtype: float64


########################